/*For non-pc devices */
@media only screen and (max-width: 1023px) {

    .dropdown-menu {
        border: none;
    }

    .multi-img {
        display: flex;
        margin: auto;
        width: 75%;
        margin-bottom: 3%;
    }

    .dantai-travel-img {
        display: flex;
        margin: auto;
    }

    .dantai-travel-sec {
        margin-top: 7%;
    }

    .footer-sec {
        font-size: 80%;
    }

    .partners-list img {
        width: 80%;
        margin: 0;
        padding: 0;
    }

    .counter .single_member_counter span {
        line-height: 67px;
        font-size: 40px;
    }
}

/* For small screens like iPhones */
@media (max-width: 576px) {
    .hero {
        margin-top: 100px;
    }

    .partners-heading {
        font-size: 50%;
    }

    .dantai-button,
    .multi-button {
        display: flex;
        justify-content: center;
    }

    .dantai-travel-sec .heading,
    .multi-sec .heading {
        font-size: 120%;
    }

    .phone-img {
        width: 8%;
    }

    .update-subject,
    .tab-content {
        font-size: 90%;
    }

    .update-button .btn {
        font-size: 80%;
    }

    .new {
        width: 30%;
    }

    .footer-sec .day {
        font-size: 50%;
    }

    .services-sec p {
        text-align: center;
    }

    .careers-link img {
        width: 7%;
    }

    #button {
        font-size: 2.5em;
    }
}

/* for medium screens like iPads */
@media (min-width: 768px) and (max-width: 992px) {

    .google-maps {
        margin: auto;
    }
}
