/*For non-pc devices */
@media only screen and (max-width: 1023px) {


    .dropdown-menu {
        border: none;
    }

    .landing-art {
        margin-top: 5%;
    }

    .multi-img {
        display: flex;
        margin: auto;
        width: 40%;
    }

    .dantai-travel-img {
        display: flex;
        margin: auto;
        width: 80%;
    }

    .dantai-travel-sec {
        margin-top: 7%;
    }

    .footer-sec {
        font-size: 80%;
    }

    .partners-list img {
        width: 80%;
        margin: 0;
        padding: 0;
    }

    .counter .single_member_counter span {
        line-height: 67px;
        font-size: 40px;
    }

    .tab-content {
        padding: 1.5rem;
    }
}

/* For small screens like iPhones */
@media (max-width: 576px) {

    .arrow-link {
        font-size: 100%;
    }

    .arrow-link img {
        width: 4%;
    }

    .hero {
        margin-top: 100px;
    }

    .services-sec {
        margin-top: 80px;
        padding-top: 50px;
    }

    .partners-heading {
        font-size: 50%;
    }

    .main-logo {
        width: 50%;
    }

    .hero-heading {
        font-size: 180%;
    }

    .navbar-toggler {
        margin-top: -10%;
    }

    .dantai-button,
    .multi-button {
        display: flex;
        justify-content: center;
    }

    .dantai-travel-sec .heading,
    .multi-sec .heading {
        font-size: 120%;
    }

    h3 {
        font-size: 140%;
    }

    .phone-img {
        width: 8%;
    }

    .update-subject,
    .tab-content {
        font-size: 90%;
    }

    .update-button .btn {
        font-size: 80%;
    }

    .new {
        width: 30%;
    }

    .partners-sec a {
        font-size: 60%;
    }

    .google-maps {
        margin-left: 3%;
    }

    .footer-sec .day {
        font-size: 50%;
    }

    .main-img {
        width: 60%;
        top: 10px;
        left: 65px;
        margin-bottom: 10px;
    }

    .nav-tabs .nav-item .nav-link,
    .nav-tabs .nav-link:focus,
    .nav-tabs .nav-link:hover {
        padding: .3rem .3rem;
        font-size: 15px;
    }

    .services-sec p {
        text-align: center;
    }
}

/* for medium screens like iPads */
@media (min-width: 768px) and (max-width: 992px) {

    .google-maps {
        margin: auto;
    }

    .main-img {
        width: 50%;
        top: 10px;
        left: 160px;
        margin-bottom: 10px;
    }
}

/* Navigation options only for PC */
@media (min-width: 1024px) {
    .dropdown-menu {
        box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.25);
    }

    .dropdown-item {
        font-weight: 500;
    }

    .dropdown:hover .dropdown-menu {
        display: block;
    }

    .dropdown-menu a:hover {
        background-color: #0275d8;
        color: #fff;
        transition: 0.1s ease-in;
    }

    .main-btns a {
        font-weight: 600;
        width: 32%;
    }
}
