/* ------------------------- */


/*** Global code ***/

html,
body {
    font-family: 'Roboto Slab', serif;
    font-family: 'Roboto', serif;
    font-size: 15px;
}

.btn {
    font-weight: 500;
}

.arrow-link {
    padding-left: 1%;
    padding-right: 1%;
    font-weight: 400;
    font-size: 95%;
}

.arrow-link:hover,
.arrow-link:active {
    text-decoration: none;
    color: #0275d8;
}

.arrow-link img {
    width: 2%;
}

.arrow-link:hover img {
    cursor: pointer;
    transform: translate(10%, 0);
    transition: transform .2s ease;
}

.underline::after {
    display: block;
    height: 1.5px;
    background-color: #0275d8;
    content: " ";
    width: 5%;
    margin: 0px auto;
    margin-top: 1%;
}

.hrs {
    border: 0.6px solid #0275d8;
}

.heading {
    font-weight: 600;
    font-size: 155%;
}

.content {
    font-weight: 400;
}

.btn-primary:hover {
    background-color: #e74c3c !important;
}

/*** Global code ***/



/*** Navigation Bar***/
.navbar-brand img {
    width: 65%;
}

.navbar-nav .nav-link {
    position: relative;
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 1rem;
        padding-left: 1rem;
        font-size: 14px;
    }
}

@media (max-width:991px) {

    .navbar-nav .nav-item,
    .dropdown-item {
        text-align: center;
    }
}

/*** Navigation Bar***/


/*** Landing Section ***/

.overlay {
    position: relative;
}

.overlay:before {
    position: absolute;
    content: " ";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    z-index: 0;
}

.black:before {
    background-color: rgba(0, 0, 0, 0.089);
}

/*** Landing Section End***/



/*** Partners **/

.partners-sec {
    padding-top: 2%;
}

.partners-heading p {
    font-weight: 500;
    opacity: 0.9;
    margin-bottom: 0.5%;
    font-size: 88%;
}

.partners-img {
    width: 65%;
}

.partners-list li:nth-child(2) img {
    margin-left: 15%;
}

.partners-list li:nth-child(3) img {
    margin-top: 5%;
    margin-left: 10%;
}

.partners-list li:nth-child(4) img {
    margin-top: 5%;
    margin-left: 3%;
}

.partners-list li:nth-child(5) img {
    margin-top: 4%;
}

.partners-list li:nth-child(6) img {
    width: 50%;
    margin-top: 1%;
}

.partners-list li:nth-child(7) img {
    position: relative;
    left: -40%;
}

.partners-list li:nth-child(8) img {
    width: 75%;
    position: relative;
    left: -20%;
}

.linked {
    margin-top: -1%;
}

/*** Partners End**/



/*** Services Section ***/

.services-sec {
    margin-top: 5%;
}

.box.box {
    padding: 3rem 2rem;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
}

.box:hover {
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.box .icon {
    margin: 0 auto;
    margin-bottom: 1rem;
}

.feature h3 {
    font-weight: 400;
}

.feature p {
    font-size: 105%;
}

.feature i {
    font-size: 50px;
}

/*** Services Section ***/



/*** News ***/

.news-sec {
    margin-top: 2%;
    padding-top: 1%;
    padding-bottom: 2%;
    background-color: #e9e8ff;
}


.tab-content {
    padding: 0 1.5rem;
}

.news-headline {
    text-align: left;
}

.news-body p {
    font-weight: 400;
}

.news-body {
    margin-top: 10px;
}

.news-body img {
    width: 50%;
}

.news-headline:link,
.news-headline:visited {
    margin-bottom: 0;
    font-weight: 400;
    color: #3D3A3A;
    font-size: 16px;
}

.news-headline:hover,
.news-headline:active {
    text-decoration: underline;
}

.news-cols p {
    padding-right: 5px;
    font-size: 16px;
}

/*** News ***/


/*** Update Section ***/

.updates {
    background-image: url("/Assets/Liquid-Cheese.svg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 9%;
    border-radius: 7px;
    color: #3D3A3A;
}

.new {
    width: 9%;
}

.update-heading {
    font-weight: 700;
    font-size: 230%;
}

.update-subject {
    font-weight: 400;
    font-size: 170%;
}

/*** Update Section ***/



/*** Dantai-travel Section ***/

.dantai-travel-sec {
    margin-top: 5%;
    padding-bottom: 1%;
}


.dantai-travel-img {
    width: 100%;
}

.dantai-travel-sec .content-col {
    margin-top: 3%;
}

/*** Dantai-travel Section ***/



/*** Multi-support Section ***/

.multi-sec {
    margin-top: 8%;
}

.multi-img {
    width: 85%;
}

.mutli-sec .content-col {
    margin-top: 3%;
}

/*** Multi-support Section ***/



/*** Careers Section ***/

.careers-section {
    background-image: url("/Assets/bg_3.jpg");
    padding: 5em 0;
    position: relative;
    margin-top: 9%;
}

.careers-section .btn {
    font-size: 14px;
}

.careers-link {
    padding: 1%;
}

.careers-link img {
    width: 7%;
}

.careers-row {
    display: flex;
    justify-content: center;
}

@media (max-width: 767.98px) {
    .careers-section {
        padding: 4em 0;
    }
}

.browse-job {
    background: #fff;
    position: relative;
    z-index: 0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
}

.browse-job i {
    position: absolute;
    top: 25px;
    left: 20px;
    font-size: 150px;
    line-height: 1;
    z-index: -1;
    color: #e1e1e4;
    opacity: 0.5;
}

.img {
    vertical-align: middle;
    border-style: none;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

/*** Careers Section ***/


/*** Company Profile **/

.company-section {
    font-weight: 300;
    margin-top: 7%;
    margin-bottom: 10%;
}

.company-section .head {
    color: #FFF;
    font-weight: 400;
    background: #0081B2;
}

.designation {
    font-weight: 500;
}


/*** Company Profile **/



/*** Footer ***/

.footer-col {
    margin-top: 3%;
}

.footer-sec {
    background: #0081B2;
    color: #fff;
    font-weight: 300;
}

.footer-sec hr {
    background: #fff;
    border: 0;
    height: 1.5px;
    margin-top: 2%;
    margin-bottom: 4%;
}

.footer-sec .phone p {
    color: #fff;
    font-size: 170%;
    font-weight: 700;
}

.phone-img {
    width: 2.5%;
}

.phone {
    margin-top: 35px;
}

.day {
    font-weight: 400;
    font-size: 60%;
}

.footer-sec li {
    list-style: none;
    text-align: left;
}

.footer h6 {
    font-weight: 500;
    font-size: 103%;
}

.footer-links a {
    color: #fff;
}

.footer-links img {
    width: 20px;
}

.footer-links a:hover {
    color: #fff;
    text-decoration: underline;
}

.footer-links .connect li {
    padding: 6px;
}

.footer-links .connect li:nth-child(1) {
    padding-top: 0px;
}

iframe {
    margin-bottom: 10px;
}

.copyright {
    font-weight: 300;
    font-size: 80%;
}

.google-maps {
    margin-left: 22px;
}

/*** Footer ***/

/*** Loaing screen **/

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-color: #eee;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.loader-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
    border: 4px solid #0081B2;
    animation: loader 2s infinite ease;
}

.loader-inner {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: #0081B2;
    animation: loader-inner 2s infinite ease-in;
}

@keyframes loader {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(180deg);
    }

    50% {
        transform: rotate(180deg);
    }

    75% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes loader-inner {
    0% {
        height: 0%;
    }

    25% {
        height: 0%;
    }

    50% {
        height: 100%;
    }

    75% {
        height: 100%;
    }

    100% {
        height: 0%;
    }
}

/*** Loaing screen **/

/*** Go to top button **/

#button {
    position: fixed;
    bottom: 40px;
    right: 60px;
    transition: background-color .3s, opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 5;
}

#button:hover {
    cursor: pointer;
    margin-bottom: 2px;
}

#button.show {
    opacity: 1;
    visibility: visible;
}

#button i {
    font-size: 60px;
}

/*** Go to top button ***/
